/*Основа*/

*{
	margin: 0; /* Убираем отступы */
	padding: 0; /* Поля вокруг текста */
	/*outline: none;*/
}


body {
	border: 2px;
	width: 100%; /*Ширина*/
	height: 100%; /*Высота*/
	color: #fff; /*Цвет*/
	background: #68736c; /*Задний фон*/
	font-size: 1.4em; /*Размер шрифта*/
	font-family: "Segoe UI", sans-serif; /*Тип шрифта*/
	line-height: 135%; /*Межстрочный интервал текста*/
}

a {
	color: #99142a; /*Цвет*/
	text-decoration: none; /*Убираем подчеркивание у ссылок*/
	transition: all.6s ease; /*Устанавливает эффект перехода между двумя состояниями элемента*/
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #f48b8b; /*Цвет*/
	text-decoration: none; /*Убираем подчеркивание у ссылок*/
	transition: all.6s ease; /*Устанавливает эффект перехода между двумя состояниями элемента*/
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: #ce4a;}

img {
	max-width: 100%; /*Максимальная ширина страницы*/
	height: auto; /*Высота*/
	width: auto\9; /*Ширина*/
}

::selection {background: #f58b8b; color: #fff}
::-ms-selection {background: #f58b8b; color: #fff}
::-moz-selection {background: #f58b8b; color: #fff}

header, footer {
	width: 98%; /*Ширина*/
	background-color: #18151f;
	float: left; /*Обтекание по правому краю*/
}

header {
	border-bottom: 2px solid #1f1f1f;
	padding: 1%; /*Отступ слева и справа*/
}

footer {
	border-top: 2px solid #1f1f1f;
	margin-top: 10px;
	padding: 1%;
	padding-bottom: 2%;
}

/*Основа*/

#menu {
    text-align: center; 
    background-color: silver;
    font-size: 1.7em;
    padding: 20px;
}

h1 {
	text-align: center;
}

.wrapper {
	margin-left: 20px;
	margin-right:20px;
}

.right {float: right}  /*Обтекание по левому краю*/

.left {float: left} /*Обтекание по правому краю*/

ol {margin-left: 10px}

table {
	border-spacing: 7px 11px;
	border: 2px solid black;
}

td {
	padding: 10px;
}

#Font_text {
	font-size: 1.9em;
	padding: 25px;
}

b {color: black}

/*Футер прикреплен к низу сайта*/

html {height: 100%}

#page-wrap:after {
	content: "";
	display: block;
}

footer, #page-wrap:after {height: 10px}

#page-wrap {
	min-height: 94%;
	margin-bottom: -10px; 
}

/*Футер прикреплен к низу сайта*/

.col1 {
	background: #363232;
}

.col2 {
	background: #242020;
}

div.field {
    clear:both; 
    text-align:right;
}

div.field label {
    margin: 2px;
    float: left;
}

div.field input {
    width: 350px;
}

div.field select {
    width: 350px;
}

.form{
    width: 25%;
    margin: auto;
}

.send{
    margin:5pt;
    text-align: center;
}

textarea {resize: none}

/*Lab6*/

#ab {
	text-align: center;
	margin: 20px 0 20px 0;
}

.ba {
	margin: auto;
	width: 700px;
	margin: 20px auto 20px;
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn1:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn1 {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	font-weight: 200;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 40px;
	border-radius: 5px;
}

.blub {
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	height: 20px;
	width: 125px;
	margin: 0px;
}

.bulb {
	font-size: 16pt;
}